html {
  font-family: "Drugulin";
  background: url("assets/bg.png");
  background-size: cover;
  height: 100%;
  cursor: url("assets/cursor.png"), auto;
}

body {
  max-width: 50rem;
  margin: 0 auto;
  height: 100%;

  /* centering both vertically and horizontally! */
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Drugulin";
  src: url("assets/font/drugulinclm-bold-webfont.ttf"),
    url("assets/font/drugulinclm-bold-webfont.woff") format("woff");
}

.index {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 0.15fr 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.index-button {
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  white-space: nowrap;
  font-weight: bold;

  background: url("assets/bg.png");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

.glow-on-hover {
  box-shadow: 0 0 rgba(145, 92, 182, 0.8);
  transition: box-shadow 1s;
}

.glow-on-hover:hover {
  box-shadow: 0 0 30px rgba(145, 92, 182, 0.8);
}

.burnt {
  filter: opacity(30%) blur(3px);
}

.index-page-topic-title {
  color: white;
}

.question {
  text-shadow: 5px 3px 2px black;
  color: #d69f4c;
}

.question-page-topic-title {
  color: white;
}

.question-title {
  color: white;
}
